{% extends 'main.html' %}
{% load static %}
{% block content %}

  <!-- catagory section -->

  <section class="catagory_section layout_padding">
    <div class="catagory_container">
      <div class="container ">
        <div class="heading_container heading_center">
              <h2>{{ lesson_name.name }}</h2>
              <p>{{ lesson_name.description }}</p>
        </div>
        <div class="row">
            {% for lesson in inside_lesson %}
                <div class="col-sm-6 col-md-2 ">
                    <div class="box ">
                        <div class="img-box">
{#                            <a><embed src=></a>#}
                        </div>
                        <div class="detail-box">
                            <h5><a href="{% url 'inside_lesson' lesson.id forloop.counter %}">{{ forloop.counter }}-dars</a></h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- end catagory section -->


{% endblock %}
