{% extends 'main.html' %}
{% load static %}
{% block content %}

  <!-- catagory section -->

  <section class="catagory_section layout_padding">
    <div class="catagory_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Books Categories
          </h2>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>
        </div>
        <div class="row">
            {% for cat in categories %}
                <div class="col-sm-6 col-md-3 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="{{ cat.imageURL }}">
                        </div>
                        <div class="detail-box">
{#                            <h5><a href="{% url 'category_in' %}">{{ cat.name }}</a></h5>#}
                            <h5><a href="{% url 'category_in'  cat.id %}">{{ cat.name }}</a></h5>
{#                            <p>{{ cat.description }}</p>#}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- end catagory section -->


{% endblock %}
